# My attitude for gitignore might be weird: I want my repo to be 
# IDE independent, without any IDE configuration file

# Visual Studio Code
.vscode/
build/

# Visual Studio
.vs/


# Scripts (which are mostly platform dependent)
scripts/
